/* div{
    color:red;
    background-color: aquamarine;
} */
/* #starting{  //id select with hash#
    color:red;
}
.abc {            //class select with dot(.)in css
    color:blue;
} */
 /* #ul{
    list-style-type:square;
} 
#div{
    padding: 50px;
    border:2px solid blue;
    margin:0 auto;
    width:400px; */
    /* box-sizing:border-box; */
/* } */
.one{
    background-color:blueviolet ;
    width: 150px;
}
/* #two{
    flex-grow:2;
} */
#div{
    display:flex;
    height: 500px;
    flex-direction: row;
    background-color: red;
    justify-content: space-evenly;
}